#%RAML 0.8
title: Cloudhub New Logging
version: 1.0.0
baseUri: https://anypoint.mulesoft.com/cloudhub
protocols: [ HTTPS ]

traits:
  - chAuthRequired:
      headers:
          X-ANYPNT-ENV-ID: 
            required: true
            example: 5440a051e4b0547173e7bb60
          Authorization:
            required: true
            example: Basic a2JhYnVzaGtpbjg4Ok11bGUyMDEz

/api/v2/applications:
  /{domain}:
    uriParameters:
      domain:
        required: true
        example: 360-new-logs    
    /deployments:
      is: [chAuthRequired]
      get:
          description: Get list of application deployments
          queryParameters:
            limit:
              default: 25
              description: result limit
              type: integer
              required: false
            offset:
              default: 0
              description: result offset
              type: integer
              required: false
            orderByDate:
              default: ASC
              description: result ordering
              type: string
              required: false
          responses:
            200:
              body:
                application/json:
                  example: |
                    {
                      "data": [
                        {
                          "deploymentId": "55820019e4b05e73aedbc244",
                          "createTime": "2015-06-17T23:17:45.886Z",
                          "startTime": "2015-06-17T23:17:46.338Z",
                          "endTime": "2015-06-17T23:21:35.408Z",
                          "instances": [
                            {
                              "instanceId": "i-8b29cd58",
                              "publicIPAddress": "54.175.30.207",
                              "status": "STARTED",
                              "region": "us-east-1"
                            }
                          ]
                        }
                      ],
                      "total": 3
                    }
      /{deploymentId}:
        uriParameters:
          deploymentId:
            required: true
            example: 55ae8526e4b046c45954ca8d
        /logs:
          is: [chAuthRequired]
          get:
            description: Get application deployment logs
            queryParameters:
              limit:
                default: 100
                description: result limit
                type: integer
                required: false
              limitMsgLen:
                default: 0
                description: message length limit
                type: integer
                required: false
            responses:
              200:
                body:
                  application/json:
                    example: |
                      {
                        "data": [
                          {
                            "loggerName": "com.mulesoft.ch.logging.appender.log4j.Log4JCloudhubAppenderLiveTest",
                            "threadName": "pool-2-thread-2",
                            "timestamp": 1434613457699,
                            "message": "J4J-Test!",
                            "priority": "INFO",
                            "tenantId": "tenantId",
                            "instanceId": "i-8b29cd58"
                          }
                        ],
                        "total": 5
                      }
  